:root {
    --main-bg-color: #faf5fc;
    --paragraph-font-color: #415270;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', 'Arial';
}

main {
    display: flex;
    flex-direction: row;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #d5def7;
}


h1, h2 {
    font-weight: lighter;
}

.h-with-subheading {
    margin-bottom: 25px;
}

.h-with-subheading h1, h2 {
    margin: 0px;
}

p {
    margin: 0px;
    padding: 0px;
    color: var(--paragraph-font-color)
}

p, p a {
    font-size: medium;
}

footer p {
    font-size: small;
}

span {
    color: var(--paragraph-font-color);
}

.about-me {
    display: block;
    width: 30%;
    height: 100%;
    padding: 25px;
}

.about-me h1 {
    font-weight: lighter;
}

.about-me p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.about-me img {
    max-width: 100%;
    max-height: auto;
}

.about-me span, span a {
    font-size: small;
}

.projects {
    background-color: var(--main-bg-color);
    width: 75%;

    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.projects h2 {
    font-size: xx-large;
}

.projects .project-info {
    margin-bottom: 40px;
}

.projects .project-heading {
    margin-bottom: 10px;
}

.projects .project-heading h3 {
    margin: 0px;
    font-weight: normal;
}

.projects .project-heading span, a {
    margin: 0px;
    font-size: x-small;
}

@media screen and (max-width: 800px) {
    main {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

    .projects, .about-me {
        width: 100%;
    }

    .projects {
        padding: 20px;
    }

    img {
        max-height: 400px;
    }
}
